@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));

  @apply bg-[radial-gradient(ellipse_at_bottom,_var(--tw-gradient-stops))] from-blue-700 via-blue-800 to-gray-900;
}

.gradient-bg {
  background-image: linear-gradient(to top, black, transparent);
}

h1 {
  @apply text-4xl font-bold p-2;
}

h2 {
  @apply text-3xl font-bold p-2;
}

p {
  @apply p-2;
}

ul {
  @apply pl-4 list-disc;
}

ol {
  @apply pl-4 list-decimal;
}

a {
  @apply text-blue-500 underline;
}

.fade-in{
  animation: fadein 0.3s;
}

.fade-out{
  animation: fadeout 0.3s;
}



@keyframes fadein {
  0% {
    transform: translateX(-25%);
    @apply opacity-0;
  }
  100% {
    transform: translateY(0);
    @apply opacity-100;
  }
}

@keyframes fadeout {
  0% {
    transform: translateX(0);
    @apply opacity-100;
  }
  100% {
    transform: translateX(-25%);
    @apply opacity-0 delay-300;
  }
}